.newsSection {
    background-color: #1e1e1e;
    padding: 16px;
    position: relative;
    margin-bottom: 100px;
}

.title {
    color: #fff;
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: 600;
}