# Dependencies
node_modules/

# Environment
.env
.env.*
!.env.example

# Build output
dist/
out/
cache/

# OS
.DS_Store

# DB
*.db
*.db-wal
*.db-shm

# Foundry
broadcast/
lcov.info
coverage/
.gas-snapshot

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.sw?
