.optionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.optionLogo {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #171C26;
  display: flex;
  align-items: center;
  justify-content: center;
}

.optionText {
  font-size: 16px;
  color: #fff;
}