.optionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.optionLogo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #171C26;
  display: flex;
  align-items: center;
  justify-content: center;
}
.optionLogo svg {
  width: 25px;
  height: 25px;
}

.optionText {
  font-size: 16px;
  color: #fff;
}